body {
  margin: 0;
}

.topHeader {
  display: flex;
}

.smallHeader {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.13333334028720856px;
  margin-left: 15%;
}

.topnav {
  overflow: hidden;
  font-weight: 700;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav-right {
  float: right;
  position: relative;
  right: 27%;
}

.topnav-right a {
  margin-top: 10px;
  font-family: 'Gilroy';
}

.topnav-right button {
  width: 124px;
  height: 50px;
  margin-top: 12px;
  border-radius: 5px;
  font-size: 17px;
  color: white;
  background-color: SlateBlue;
}

h1, h3{
  font-size: 70px;
}

.mainSection p {
  font-family: 'Gilroy';
  font-size: 19px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.20000000298023224px;
}

.monthlyButton {
  width: 72px;
  height: 33px;
  border-radius: 19px;
  position: relative;
  top: 7px;
  left: 11px;
}

.yearlyButton {
  width: 95px;
  height: 29px;
  border-radius: 19px;
}

.monthlyText {
  padding-right: 31px;
}

ul li {
  list-style-type: none;
  border-color: gray;
  padding-bottom: 15px;
}

.costBox, .bottomBox {
  display: inline-grid;
  grid-gap: 27px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 1fr;
}

.mainBoxes {
  border-style: solid;
  border-color: lightgray;
  margin: auto;
  border-radius: 5px;
  width: 331px;
}

.mainBoxes a {
  margin-left: -28%;
}

.middleButton { 
  background-color: SlateBlue;
  color: white;
}

.mainBoxes button {
  width: 124px;
  height: 50px;
  border-radius: 5px;
}

div.footer {
  width: 100%;
  background-color: blue;
  text-align: center;
  display: flex;
  height: 500px;
}

h4 {
  color: gray;
}

.footer li a {
  color: white;
}

ul.bottomList {
  display: inline-block;
  text-align: left;
  margin-left: 10%;
  margin-top: 3%;
}

.separator {
  position: absolute;
  border-top: 1px solid gray;
  margin-top: 23%;
  width: 80%;
  color: gray;
  display: flex;
  justify-content: center;
  margin-left: 11%;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  color: white;
}

.separator p {
  padding-right: 34%;
  margin-top: 29px;
}

.bottomBox {
  padding-bottom: 5%;
}